.AloImg {
  mix-blend-mode: multiply;
  width: 150px !important;
  height: 90px !important;
}
.AloImg img {
  width: 120px;
  height: 90px;
  object-fit: contain;
}
.AlotTitle h3 {
  font-size: 16px !important;
  padding-bottom: 5px !important;
}
.AlotTitle p {
  font-size: 12px !important;
}
.AlotBuy button div p {
  padding: 5px 5px !important;
}
.AlotBuyIcon{
  padding-top: 5px !important;
}
.AlotBuy p{
  padding-bottom: 5px !important;
}